// sass-lint:disable-all

@font-face {
  font-family: 'tomorrow';
  src: url('fonts/tomorrow.eot?x5z06i');
  src: url('fonts/tomorrow.eot?x5z06i#iefix') format('embedded-opentype'),
    url('fonts/tomorrow.ttf?x5z06i') format('truetype'),
    url('fonts/tomorrow.woff?x5z06i') format('woff'),
    url('fonts/tomorrow.svg?x5z06i#tomorrow') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
