.main-book {
  position: relative;
  height: 442px;
  padding: 20px 0;
  background-color: $background;

  .tns-controls {
    position: absolute;
    top: 24px;
    right: 15px;

    button {
      color: $white;
      background-color: $blue;

      &:active {
        background-color: $blue-dark;
      }

      i {
        @include flexbox;
        font-size: 24px;
      }

      &:first-child {
        margin-right: 4px;
        transform: rotate(90deg);
      }

      &:last-child {
        transform: rotate(-90deg);
      }
    }
  }

  .book-tab {
    &-list {
      @include flexbox(start);
      margin-bottom: 8px;
    }

    &-item {
      @include text-style(16, $primary);

      .tab-button {
        padding: 8px 12px;
        background-color: $white;
        border: 1px solid $border;
        border-radius: 4px;
      }

      &:first-child {
        margin-right: 8px;
      }

      &.is-active {
        .tab-button {
          font-weight: 700;
          color: $blue;
          border-color: $blue;
        }
      }
    }
  }

  .book-content {
    display: none;

    &.is-select {
      display: block;
    }

    .book-slide {
      &-item {
        .book-item-detail {
          @include column-flexbox;
          width: 95%;

          img {
            width: 100%;
            height: 248px;
            margin-bottom: 8px;
          }

          .detail-text {
            text-align: center;

            strong {
              @include text-style(18);
              margin-bottom: 4px;
            }

            p {
              @include text-style(14, $secondary);
            }
          }
        }
      }
    }
  }

  @include responsive(T) {
    .tns-controls {
      right: 30px;
    }
  }

  @include responsive(D) {
    background-color: $white;

    .book-tab-list {
      margin-bottom: 16px;
    }

    .book-content {
      width: 90%;

      .book-slide {
        &-item {
          width: 180px;

          .book-item-detail {
            position: relative;
            width: 180px;
            overflow: hidden;

            &:hover {
              .detail-text {
                bottom: 0;
              }
            }

            img {
              margin-bottom: 0;
            }

            .detail-text {
              @include column-flexbox;
              position: absolute;
              bottom: -80px;
              width: 100%;
              height: 80px;
              padding: 8px 4px;
              background-color: rgba($dark, 0.7);
              transition: bottom 150ms ease-in-out;

              strong,
              p {
                color: $white;
              }

              strong {
                @include text-style(14);
                margin-bottom: 0;
              }

              p {
                @include text-style(13);

                &::before {
                  display: block;
                  margin: -4px 0;
                  font-size: 2px;
                  content: '◇';
                }
              }
            }
          }
        }
      }
    }
  }
}
